@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none
}

html {
    height: 100%
}

body.payuDemopage {
    font-family: "Avenir", sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column
}

.left {
    float: left
}

.right {
    float: right
}

header {
    border-bottom: 1px #A2A6B0 solid;
    padding: 32px 84px
}

.center-align {
    display: flex;
    align-items: center
}

.logo-box {
    gap: 10px;
    color: #10846D
}

.middleMain {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    flex-grow: 1
}

.middleMain_left {
    width: 60%;
    background: #EFF6F5;
    padding: 96px 100px 100px 84px
}

.middleMain_left-heading {
    font-size: 24px;
    font-weight: 500;
    color: #2E2E2E;
    padding-bottom: 20px
}

.middleMain_left-heading small {
    font-size: 12px;
    font-weight: 300
}

.middleMain_left-detailing {
    font-size: 16px;
    line-height: 25px;
    font-weight: 300
}

.middleMain_left-detailing small {
    font-size: 14px;
    line-height: 22px;
    display: inline-block
}

.middleMain_left-list {
    padding: 21px 0 21px 20px
}

.middleMain_left-list li {
    list-style: disc;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300
}

.middleMain_right {
    position: relative;
    width: 40%;
    height: 100%;
    background: #fff;
    padding: 66px 23px;
    display: flex;
    justify-content: space-around;
    align-items: unset
}

.middleMain_right-iconsBlocks {
    position: absolute;
    left: 22px;
    top: 66px;
    width: 30px
}

.middleMain_right-iconsBlocks li {
    cursor: pointer
}

.middleMain_right-productImg {
    max-width: 329px;
    height: 409px
}

.middleMain_right-productImg img {
    width: 100%
}

.btn-row {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 22px 0px;
}

.default-btn {
    border-radius: 4px;
    background: #10846D;
    color: #fff;
    padding: 14px 10px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.192px;
    font-weight: 800;
    border: none;
    cursor: pointer
}

footer {
    padding: 0 84px 0 84px;
    border-top: 1px #A2A6B0 solid;
    margin-top: auto
}

footer a {
    color: #8E8E8E;
    text-decoration: none
}

.footer-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 52px;
    flex-direction: row-reverse
}

.footer-left {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
    color: #8E8E8E
}

.footer-right {
    display: flex;
    align-items: center
}

ul.pymt-security-logo {
    display: flex;
    align-items: center;
    gap: 15px
}

@media (max-width: 480px) {
    header {
        padding: 20px
    }

    .middleMain {
        flex-wrap: wrap
    }

    .middleMain_left {
        padding: 20px;
        flex: 1 0 100%
    }

    .middleMain_right {
        width: 100%;
        padding: 20px;
        flex: 1;
        height: auto
    }

    .btn-row {
        flex-wrap: wrap
    }

    .btn-row .default-btn {
        flex: 1 0 100%
    }

    footer {
        padding: 20px
    }

    .footer-main {
        flex-wrap: wrap;
        justify-content: space-around
    }
}